*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
aside{
    display: flex;
    height: 800px;
    width: 500px;
    flex-direction: column;
    align-content: center;
    align-items: center;
    background-color: darkslategray;
    margin-left: 820px;
    margin-top: -800px;
}
input{
    width: 90%;
    height: 40px;
    border: none;
    outline: none;
    font-style: italic;
    text-align: center;
    margin: 20px;
}
aside .title-container2{
    height: 40px;
    width: 90%;
    background-color: black;
}
aside h1{
    color: white;
    font-size: 30px;
    margin-left: 30px;
}
aside .list-container2{
    display: flex;
    width: 90%;
    height: 400px;
    background-color: darkslategray;
    justify-content: center;
    margin-bottom: 20px;
}
aside ul{
    color: white;
    align-content: space-around;
}
aside li{
    margin: 20px;
}
aside li::marker{
    color: black;
}
aside .img-container{
    display: flex;
    justify-content: space-around;
    width: 90%;
    height: 400px
}
 aside img{
    width: 200px;
    height: 200px;
 }
 article .main-section{
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 800px;
    color: white;
    background-color: darkslategray;
}
 article .section-container{
    display: flex;
    height: auto;
    width: 800px;
    justify-content: space-between;
    margin-top: 20px;
}
 article .title-container{
    width: 100%;
    height: auto;
    background-color: black;
}
 article .title-container h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    margin-left: 10px;
}
 article .main-text{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: auto;
    margin-left: 300px;
    margin-top: -150px;
}
 article .main-text button{
    color: white;
    background-color: black;
    border: 1px white solid;
    width: 100px;
    height: 25px;
    align-self: flex-end;
    margin-right: 10px;
    
}
 article section h2{
    font-weight: bold;
    font-size: 20px;
}
 article .img-container{
    height: 200px;
    width: 200px;
}
 article .img-container img{
    height: 100%;
    width: 100%;
    margin-top: 25px;
    margin-left: 25px;
}
 article .under-section{
    display: flex;
    flex-direction: column;
    width: 390px;
    height: 480px;
    background-color: darkslategray;
    color:white;
    
}
 article .under-section button{
    width: 100px;
    height: 25px;
    color: white;
    background-color: black;
    border: 1px white solid;
    align-self: flex-end;
}
.section-text{
    display: flex;
    flex-direction: column;
    width: 90%;
   height: auto;
   align-self: center;
}
section .list-title{
    background-color: black;
    height: auto;
    width: 90%;
    align-self: center;
    text-align: center;
    margin-top: 20px;
}
 section .list-container{
    height: 150px;
    width: 90%;
    align-self: center;
    margin-left: 30px;
}
 section .list-container li::marker{
    color: black;
}
header{
    width: 1180px; 
    height: 200px;
    background-image: url(https://img.odcdn.com.br/wp-content/uploads/2023/12/teoria-quantica-e-relatividade-de-einstein.png);
margin-left: 7%;
background-position: center;
}
h1{
    margin-left: 28%;
    font-size: 500%;
    color: rgb(179, 152, 1)
}
h2{
    margin-left: 38%;
    color: rgb(179, 152, 1);
}
.lista li{
    float: left;
    margin-left: 30px;
    margin-right: 25px;
    list-style-type: none;
    color: rgb(179, 152, 1);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.lista{
    border: solid 1px rgb(54, 53, 50);
    width: 1178px;
    height: 25px; 
    float: left;
    margin-top: 78px;
    background-color: rgb(54, 53, 50);
}
