*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
aside{
    display: flex;
    height: 800px;
    width: 500px;
    flex-direction: column;
    align-content: center;
    align-items: center;
    background-color: darkslategray;

}
input{
    width: 90%;
    height: 40px;
    border: none;
    outline: none;
    font-style: italic;
    text-align: center;
    margin: 20px;
}
 aside .title-container{
    height: 40px;
    width: 90%;
    background-color: black;
}
 aside h1{
    color: white;
    font-size: 30px;
    margin-left: 30px;
}
 aside .list-container{
    display: flex;
    width: 90%;
    height: 400px;
    background-color: darkslategray;
    justify-content: center;
    margin-bottom: 20px;
}
 aside ul{
    color: white;
    align-content: space-around;
}
 aside li{
    margin: 20px;
}
aside li::marker{
    color: black;
}
 aside .img-container{
    display: flex;
    justify-content: space-around;
    width: 90%;
    height: 400px
}
 aside img{
    width: 200px;
    height: 200px;
}